/* CUSTOM RG */
.dropdownHolder{
	width:100%;
}
.dropdownHolder.small{
	width:75px;
	display:inline-block;
}

/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
	position: relative;
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
	cursor: pointer;
	background: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	height:50px; 
}

.dropdown.open{
	z-index: 2;
}

/* CARAT */
.dropdown .carat {
	position: absolute;
	right: 12px;
	top: 20px; 
	height: 12px;
	width: 19px;
	background:url('../images/icons/point_down_dark.png') no-repeat;
	background-size: 19px 12px;
	background-position: 0 0;
}

.dropdown.open .carat{
	background: url('../images/icons/point_up.png') no-repeat;
    background-size: 19px 12px;
}

.dropdown.disabled .carat{
	border-top-color: #999;
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 

.dropdown .selected,
.dropdown li{
	display: block;
	color: #231f20;
	height:50px;
	overflow: hidden;
	white-space: nowrap;
	border-bottom:1px solid #231f20;
	font-size:18px;
}
.dropdown .selected, .dropdown li:last-of-type{
	border-bottom-width:0;
}

.dropdown.disabled .selected{
	color: #aaa;
}

.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
}

/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: -1px;
	background: #ffffff;
	border: 1px solid #231f20;
	border-top: 1px solid #231f20;
	overflow: hidden;
	opacity: 0;
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
	height:50px;
}

/* .focus class is also added on hover */

.dropdown li.focus{
	background: #231f20;
	position: relative;
	z-index: 3;
	color: #FFFFFF;
}

.dropdown li.active{
	font-weight: 700;
}

@media screen and (max-width:760px){
	.dropdown .carat {
		right: 6px;
	}
}
